[project]
	description = this is a test repository to familiarize with use of gerrit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/piotrdt
[access "refs/for/refs/*"]
	read = group user/piotrdt
	push = group user/piotrdt
	label-Code-Review = -2..+2 group user/piotrdt
	label-Verified = -1..+1 group user/piotrdt
	rebase = group user/piotrdt
	removeReviewer = group user/piotrdt
	submit = group user/piotrdt
[access "refs/heads/*"]
	read = group user/piotrdt
	create = group user/piotrdt
	push = +force group user/piotrdt
	pushMerge = group user/piotrdt
[access "refs/tags/*"]
	push = group user/piotrdt
	push = +force group user/piotrdt
